<launch>
  <arg name="odom_path"   default="" />
  <arg name="save_path"   default="" />
  <arg name="delta_x"     default="2" />
  <arg name="delta_angle" default="10" />
  <arg name="resolution"  default="0.0" />
  <arg name="inf_pos"     default="10.0" />
  <arg name="inf_rot"     default="20.0" />

  <node pkg="graph_tools" type="odometry_to_graph" name="odometry_to_graph" required="True" output="screen"
    args="
        -delta_x $(arg delta_x)
        -delta_angle $(arg delta_angle)
        -resolution $(arg resolution)
        -inf_pos $(arg inf_pos)
        -inf_rot $(arg inf_rot)
        -odom_path $(arg odom_path)
        -save_path $(arg save_path)
        " />
</launch>